<div class="catalog-cards flex flex-row my-14">
    <div class="container w-full mb-20 mx-10">
        <div class="flex flex-row mt-20 mb-10 mx-14">
            <div class="w-1/2 relative">
                <div class="text-5xl mx-14 text-amber-300 uppercase font-bold" >Каталог продукции</div>
                <div class="text-xl mt-10 mb-14 w-4/5 mx-14">В нашем каталоге представлены последние линейки теплоизоляционных и огнезащитных материалов.</div>
                <div class="text-xl mt-10 mb-14 w-4/5 mx-14">Закажите консультацию по любому товару у наших специалистов или соберите свой заказ прямо на сайте. Мы подготовим для вас индивидуальное коммерческое предложение и вышлем персональный блок бонусов и скидок.</div>
                <a href='#' class="text-xl hover:bg-amber-300 hover:text-white rounded-lg shadow-2xl px-10 py-5 absolute left-14 bottom-0">Весь каталог 
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </a>
            </div>
            <div class="w-1/2 grid grid-cols-2 gap-5 mx-4">
                <div class="w-full h-64 relative cursor-pointer transition bg-stone-100 rounded-md shadow-md hover:bg-amber-300 ">
                    <img src="../../img/image.png" class="absolute bottom-14 right-12" alt="">
                    <div class="w-1/2 text-2xl ml-14 mt-10">Теплоизоляционные материалы</div>
                    <a href="#" class="text-lg absolute bottom-14 left-14 hover:underline">Подробнее</a>
                </div>
                <div class="w-full h-64 relative cursor-pointer bg-stone-100 rounded-md shadow-md hover:bg-amber-300">
                    <img src="../../img/image.png" class="absolute bottom-14 right-12" alt="">
                    <div class="w-1/2 text-2xl ml-14 mt-10">Огнезащита воздуховодов</div>
                    <a href="#" class="text-lg absolute bottom-14 left-14 hover:underline">Подробнее</a>
                </div>
                <div class="w-full h-64 relative mr-auto cursor-pointer bg-stone-100 rounded-md shadow-md hover:bg-amber-300">
                    <img src="../../img/image.png" class="absolute bottom-14 right-12" alt="">
                    <div class="w-1/2 text-2xl ml-14 mt-10">Огнезащита металлоконструкций</div>
                    <a href="#" class="text-lg absolute bottom-14 left-14 hover:underline">Подробнее</a>
                </div>
                <div class="w-full h-64 relative cursor-pointer bg-stone-100 rounded-md shadow-md hover:bg-amber-300">
                    <img src="../../img/image.png" class="absolute bottom-14 right-12" alt="">
                    <div class="w-1/2 text-2xl ml-14 mt-10">Огнезащитный состав</div>
                    <a href="#" class="text-lg absolute bottom-14 left-14 hover:underline">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>