<div class="news mb-64 mt-18 relative">
    <div class="container mx-auto flex mt-36 relative">
        <div class="flex mx-14 news-after">
            <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      
                      <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code text-black">26 December 2019</span>
                      <div class="blog-slider__title text-black">Lorem Ipsum Dolor</div>
                      <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
                      <a href="#" class="blog-slider__button shadow-2xl px-10 py-5 rounded-lg uppercase hover:bg-amber-300 hover:text-white">подробнее</a>
                    </div>
                  </div>

                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code text-black">26 December 2019</span>
                      <div class="blog-slider__title text-black">Lorem Ipsum Dolor2</div>
                      <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                      <a href="#" class="blog-slider__button shadow-2xl px-10 py-5 rounded-lg uppercase hover:bg-amber-300 hover:text-white">подробнее</a>
                    </div>
                  </div>
                  
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code text-black">26 December 2019</span>
                      <div class="blog-slider__title text-black">Lorem Ipsum Dolor</div>
                      <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                      <a href="#" class="blog-slider__button shadow-2xl px-10 py-5 rounded-lg uppercase hover:bg-amber-300 hover:text-white">подробнее</a>
                    </div>
                  </div>
                  
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      
                      <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759872/kuldar-kalvik-799168-unsplash.webp" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code text-black">26 December 2019</span>
                      <div class="blog-slider__title text-black">Lorem Ipsum Dolor</div>
                      <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
                      <a href="#" class="blog-slider__button shadow-2xl px-10 py-5 rounded-lg uppercase hover:bg-amber-300 hover:text-white">подробнее</a>
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
            </div>
        </div>
    </div>
    <a href='#' class="text-2xl  hover:text-yellow-900 all-news">Посмотреть все
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
        </svg>
    </a>
</div>