<div class="objects my-20 relative">
    <div class="absolute top-14 left-14 w-64 h-28 z-20">
        <h3 class="text-4xl text-white mb-4">Объекты</h3>
        <p class="text-lg text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide relative " data-bs-ride="carousel">
        <div class="flex flex-col absolute right-4 bottom-14">
            <div class="carousel-indicators flex justify-start p-0 m-0">
                <a
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="0"
                  class="active w-52 h-52"
                  aria-current="true"
                  aria-label="Slide 1"
                ><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" class="w-full h-full object-cover" alt=""></a>
                <a
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg" class="w-full h-full object-cover" alt=""></a>
                <a
                  type="button"
                  data-bs-target="#carouselExampleCaptions"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ><img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg" class="w-full h-full object-cover" alt=""></a>
              </div>
              <a href="#" class="text-2xl text-white hover:underline z-20">все объекты 
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
        <div class="carousel-inner relative w-full overflow-hidden brightness-50">
          <div class="carousel-item active relative float-left w-full">
            <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
              class="block w-full"
              alt="..."
            />
          </div>
          <div class="carousel-item relative float-left w-full">
            <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
              class="block w-full"
              alt="..."
            />
          </div>
          <div class="carousel-item relative float-left w-full">
            <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
              class="block w-full"
              alt="..."
            />
          </div>
        </div>
      </div>
</div>